<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591591460288-u77pm5kla5gj7nu5ptdmp05bso7aea7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591591460288-u77pm5kla5gj7nu5ptdmp05bso7aea7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDWDpG8RhiZmds0OLOWWWZuXdbwimZHr1g</string>
	<key>GCM_SENDER_ID</key>
	<string>591591460288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axolon.erpapp</string>
	<key>PROJECT_ID</key>
	<string>axolon-notification-centre</string>
	<key>STORAGE_BUCKET</key>
	<string>axolon-notification-centre.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591591460288:ios:feccd3d80183a3be06cc25</string>
</dict>
</plist>